<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/pricing/">
	<title>Auction Huy To</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/datepicker3.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
		<img src="/image/auctionHammer.png">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/ho-tro">Hỗ trợ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dang-nhap">Đăng nhập</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/dang-ky">Đăng ký</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Khách hàng
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Thông tin cá nhân</a>
						<a class="dropdown-item" href="#">Đổi mật khẩu</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Đăng xuất</a>
					</div>
				</li>
				
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
					<i class="fa fa-search" aria-hidden="true"></i>
					Search
				</button>
			</form>
		</div>
	</nav>

	<div class="container-fluid mt-4">
		<div class="row">
			<div class="col-sm-3">
				<div class="card shadow">
					<h4 class="card-header">
						Categories
					</h4>
					<div class="list-group list-group-flush">
						<a href="/dien-thoai" class="list-group-item list-group-item-action">Điện thoại</a>
						<a href="/May-tinh-xach-tay" class="list-group-item list-group-item-action">Máy tính xách tay</a>
					</div>
				</div>
			</div>
			<div class="col-sm-9">
				{{{body}}}
			</div>
		</div>
	</div>

	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/chart.min.js"></script>
	<script src="js/chart-data.js"></script>
	<script src="js/easypiechart.js"></script>
	<script src="js/easypiechart-data.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>

</body>

</html>