<div class="card-group">
  <div class="card">
    <img src="../../image/iphone-xs-max-gold-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./iPhone Xs Max 64GB.html" class="card-title">iPhone Xs Max 64GB</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>
    </div>
    
  </div>
  <div class="card">
    <img src="../../image/samsung-galaxy-s10-plus-black-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./Samsung Galaxy S10+.html" class="card-title">Samsung Galaxy S10+ </a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
  
  </div>
  <div class="card">
    <img src="../../image/huawei-p30-pro-1-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./Huawei P30 Pro.html" class="card-title">Huawei P30 Pro</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/oppo-reno-10x-zoom-edition-black-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./OPPO Reno 10x Zoom Edition.html" class="card-title">OPPO Reno 10x Zoom Edition</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/iphone-11-pro-max-256gb-green-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./iPhone 11 Pro Max 256GB.html" class="card-title">iPhone 11 Pro Max 256GB</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
</div>

<div class="card-group">
  <div class="card">
    <img src="../../image/iphone-xs-max-gold-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./iPhone Xs Max 64GB.html" class="card-title">iPhone Xs Max 64GB</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>
    </div>
    
  </div>
  <div class="card">
    <img src="../../image/iphone-11-pro-max-256gb-green-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./iPhone 11 Pro Max 256GB.html" class="card-title">iPhone 11 Pro Max 256GB </a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
  
  </div>
  <div class="card">
    <img src="../../image/huawei-p30-pro-1-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./Huawei P30 Pro.html" class="card-title">Huawei P30 Pro</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/oppo-reno-10x-zoom-edition-black-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./OPPO Reno 10x Zoom Edition.html" class="card-title">OPPO Reno 10x Zoom Edition</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/blackberry-key2-3-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./BlackBerry KEY2.html" class="card-title">BlackBerry KEY2</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
</div>