<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm gần kết thúc
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
      <a href="/Acer-Nitro-5-AN515-54-58TJ">
      <img src="/image/techzones-acer-nitro-5-an515-54-7882-2.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Acer Nitro 5 AN515-54-58TJ</p>
      </div>
      </a>
    </div>



    <div class="card" style="width: 12rem;">
            <a href="/Acer-Swift-3S-SF314-57G-52GB">
      <img src="/image/techzones-acer-swift-3s-sf314-57g-53t1-5.png" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Acer Swift 3S SF314-57G-52GB</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/OPPO-Reno-10x-Zoom-Edition">

      <img src="/image/oppo-reno-10x-zoom-edition-black-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">OPPO Reno 10x Zoom Edition</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/HP-Pavilion-Gaming-15-dk0001tx">

      <img src="/image/techzones-hp-pavilion-gaming-15.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">HP Pavilion Gaming 15-dk0001tx</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/MSI-GF63-Thin-9RCX-645VN">

      <img src="/image/techzones-may-tinh-xach-tay-msi-gf63-2.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">MSI GF63 Thin 9RCX-645VN</p>
      </div>
    </div>
  </div>


</div>
<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm có nhiều lượt ra giá nhất
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
            <a href="/MSI-Prestige-14-A10RB-028VN">

      <img src="../image/techzones-msi-prestige-14-a10rb-11.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">MSI Prestige 14 A10RB-028VN</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/Vivo-V17-Pro">

      <img src="../image/vivo-v17-pro-blue-noo-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Vivo V17 Pro</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/Xiaomi-Redmi-8">

      <img src="../image/xiaomi-redmi-8-64gb-red-docquyen-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Xiaomi Redmi 8</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/BlackBerry-KEY2">

      <img src="../image/blackberry-key2-3-400x460.png" class="card-img-top">
      <div class="card-body">
        <p class="card-text">BlackBerry KEY2</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/Samsung-Galaxy-A80">

      <img src="../image/samsung-galaxy-a80-gold-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Samsung Galaxy A80</p>
      </div>
    </div>
  </div>


  
</div>
<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm có giá cao nhất
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
            <a href="/iPhone-X-64GB">

      <img src="../image/iphone-x-64gb-2-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">iPhone X 64GB</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/iPhone-11-Pro-Max-256GB">

      <img src="../image/iphone-11-pro-max-256gb-green-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">iPhone 11 Pro Max 256GB</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/Acer-Nitro-5-AN515-54-58TJ">

      <img src="../image/techzones-acer-nitro-5-an515-54-7882-3.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Acer Nitro 5 AN515-54-58TJ</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/ASUS-ROG-Strix-G-G531GD-AL025T">

      <img src="../image/techzones-asus-rog-strix-g-g531-4.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">ASUS ROG Strix G G531GD-AL025T</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
            <a href="/LENOVO-THINKPAD-X1-YOGA-G3-20LDS00L00">

      <img src="../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-4.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">LENOVO THINKPAD X1 YOGA G3 20LDS00L00</p>
      </div>
    </div>
  </div>
  </div>

</div>