<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm gần kết thúc
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
      <a href="/Acer-Nitro-5-AN515-54-58TJ">
      <img src="/image/techzones-acer-nitro-5-an515-54-7882-2.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Acer Nitro 5 AN515-54-58TJ</p>
      </div>
      </a>
    </div>



    <div class="card" style="width: 12rem;">
      <img src="/image/techzones-acer-swift-3s-sf314-57g-53t1-5.png" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Techzones-acer-swift-3s-sf314-57g-53t1-5</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="/image/oppo-reno-10x-zoom-edition-black-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Oppo-reno-10x-zoom-edition-black</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="/image/techzones-hp-pavilion-gaming-15.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Techzones-hp-pavilion-gaming-15.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="/image/techzones-may-tinh-xach-tay-msi-gf63-2.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">techzones-may-tinh-xach-tay-msi-gf63-2</p>
      </div>
    </div>
  </div>


</div>
<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm có nhiều lượt ra giá nhất
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
      <img src="../image/techzones-msi-prestige-14-a10rb-11.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Techzones-msi-prestige-14-a10rb-11</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/vivo-v17-pro-blue-noo-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Vivo-v17-pro-blue-noo-400x460</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/xiaomi-redmi-8-64gb-red-docquyen-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Xiaomi-redmi-8-64gb-red-docquyen-400x460</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460.png" class="card-img-top">
      <div class="card-body">
        <p class="card-text">blackberry-key2-3-400x460</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/samsung-galaxy-a80-gold-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">samsung-galaxy-a80-gold-400x460-1</p>
      </div>
    </div>
  </div>


  
</div>
<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm có giá cao nhất
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
      <img src="../image/iphone-x-64gb-2-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">iphone-x-64gb-2-400x460</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/iphone-11-pro-max-256gb-green-400x460.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">iphone-11-pro-max-256gb-green-400x460</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/techzones-acer-nitro-5-an515-54-7882-3.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">techzones-acer-nitro-5-an515-54-7882-3</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/techzones-asus-rog-strix-g-g531-4.jpg" class="card-img-top">
      <div class="card-body">
        <p class="card-text">techzones-asus-rog-strix-g-g531-4</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-4.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">techzones-lenovo-thinkpad-x1-yoga-gen-2-4</p>
      </div>
    </div>
  </div>
  </div>

</div>