<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm gần kết thúc
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
      <a href="/Acer-Nitro-5-AN515-54-58TJ">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
      </a>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>


</div>
<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm có nhiều lượt ra giá nhất
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>


  
</div>
<div class="card shadow">
  <h4 class="card-header">
    Top 5 sản phẩm có giá cao nhất
  </h4>
  <div class="card-body row">
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
    <div class="card" style="width: 12rem;">
      <img src="../image/blackberry-key2-3-400x460-1.PNG" class="card-img-top">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
      </div>
    </div>
  </div>
  </div>

</div>