<div class="card-group">
  <div class="card">
    <img src="../../image/techzones-asus-rog-strix-g-g531.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./ASUS ROG Strix G G531GD-AL025T.html" class="card-title">ASUS ROG Strix G G531GD-AL025T</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>
    </div>
    
  </div>
  <div class="card">
    <img src="../../image/techzones-hp-pavilion-gaming-15.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./HP Pavilion Gaming 15-dk0001tx.html" class="card-title">HP Pavilion Gaming 15-dk0001tx </a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
  
  </div>
  <div class="card">
    <img src="../../image/techzones-may-tinh-xach-tay-msi-gf63-2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./MSI GF63 Thin 9RCX-645VN.html" class="card-title">MSI GF63 Thin 9RCX-645VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/techzones-msi-gl65-9sd-3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./MSI GL65 9SDK-054VN.html" class="card-title">MSI GL65 9SDK-054VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/techzones-msi-prestige-14-a10rb-11.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./MSI Prestige 14 A10RB-028VN.html" class="card-title">MSI Prestige 14 A10RB-028VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img src="../../image/techzones-acer-nitro-5-an515-54-7882.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./Acer Nitro 5 AN515-54-58TJ.html" class="card-title">Acer Nitro 5 AN515-54-58TJ</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>
    </div>
    
  </div>
  <div class="card">
    <img src="../../image/techzones-hp-pavilion-gaming-15.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./HP Pavilion Gaming 15-dk0001tx.html" class="card-title">HP Pavilion Gaming 15-dk0001tx </a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
  
  </div>
  <div class="card">
    <img src="../../image/techzones-asus-rog-strix-g-g531.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./ASUS ROG Strix G G531GD-AL025T.html" class="card-title">ASUS ROG Strix G G531GD-AL025T</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/techzones-msi-gl65-9sd-3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./MSI GL65 9SDK-054VN.html" class="card-title">MSI GL65 9SDK-054VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/techzones-may-tinh-xach-tay-msi-gf63-2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./MSI GF63 Thin 9RCX-645VN.html" class="card-title">MSI GF63 Thin 9RCX-645VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
</div>