<!DOCTYPE html>
<html>

<head>
  <title>iPhone X 64GB</title>
    <link rel="stylesheet" type="text/css" href="../../css/chitietsp.css">

  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div id="body">
              <div id="img" class="slider">
                <img src="../../image/iphone-x-64gb-2-400x460.png" width="200" height="140" name="slide">
              </div>
           
              <div id="h">
                <img src="../../image/iphone-x-64gb-2-400x460.png" id="h1"width="100" height="70">
                <img src="../../image/iphone-x-64gb-2-400x460-1.png" id="h2"width="100" height="70">
                <img src="../../image/iphone-x-64gb-2-400x460-2.png" id="h3"width="100" height="70">
                <img src="../../image/iphone-x-64gb-2-400x460-3.png" id="h4"width="100" height="70">
              </div>
          </div>
        </div>
        
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5>iPhone X 64GB</h5>
          </div>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>Quantity</td>
                  <td>1</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Opening Price</td>
                  <td>20.000.000</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Opening Time　</td>
                  <td>7 Nov 2019 18:34:15</td>
                </tr>
                  <tr>
                  <th scope="row"></th>
                  <td>Closing Time</td>
                  <td>12 Nov 2019 23:29:27</td>
                </tr>
                </tr>
                  <tr>
                  <th scope="row"></th>
                  <td>Seller</td>
                  <td>Nguyen Van A</td>
                </tr>
              </tbody>
            </table>          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Current Price</p>
            <h5 class="card-title">25.000.000</h5>
            <table class="table">
              <thead class="thead">
                <tr>
                  
                  <td>Time Remaining</td>
                  <td>NumBer of Bids</td>
                  <td><a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    
                    <td>4 Day(s)</td>
                    <td>1</td>
                    <td>30</td>
                  </tr>
              </tbody>
            </table>            
            <a href="#" class="btn btn-success btn-block btn-outline-dark">Place Bid</a>
            <table class="table">
              <thead class="thead">
                <tr>
                  <td>Rating</td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>Total</td>
                    <td>Good </td>
                    <td>Bad</td>
                  </tr>
                  <tr>
                    <td>30</td>
                    <td>28</td>
                    <td>2</td>
                  </tr>
              </tbody>
            </table>        
          </div>
        </div>
      </div>
    </div>

    
   
    <div class="card border-warning mb-3 ">
  <div class="card-body">
    <div class="card-header">
      <h5><b>Item Explanation</b></h5>

    </div>
    <div class="card-text">
      <p>iPhone X 64 GB là cụm từ được rất nhiều người mong chờ muốn biết và tìm kiếm trên Google bởi đây là chiếc điện thoại mà Apple kỉ niệm 10 năm iPhone đầu tiên được bán ra.</p>
    </div>
  </div>
</div>

     <div class="card border-warning mb-3 ">
  <div class="card-body">
    <div class="card-header">
      <h5><b>Popularity Ranking for this Category</b></h5>


    </div>

<div class="card-group">
  <div class="card">
    <img src="../../image/iphone-xs-max-gold-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./iPhone Xs Max 64GB.html" class="card-title">iPhone Xs Max 64GB</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>
    </div>
    
  </div>
  <div class="card">
    <img src="../../image/samsung-galaxy-s10-plus-black-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./Samsung Galaxy S10+.html" class="card-title">Samsung Galaxy S10+ </a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
  
  </div>
  <div class="card">
    <img src="../../image/huawei-p30-pro-1-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./Huawei P30 Pro.html" class="card-title">Huawei P30 Pro</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/oppo-reno-10x-zoom-edition-black-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./OPPO Reno 10x Zoom Edition.html" class="card-title">OPPO Reno 10x Zoom Edition</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/blackberry-key2-3-400x460.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="./BlackBerry KEY2.html" class="card-title">BlackBerry KEY2</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
</div>





    </div>
  </div>
  </div>
</div>
</div>
</div>

</div>



  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script >
    const h1=document.getElementById('h1');
    const h2=document.getElementById('h2');
    const h3=document.getElementById('h3');
    const h4=document.getElementById('h4');
    var images =[];
    images[0]='../../image/iphone-x-64gb-2-400x460.png';
    images[1]='../../image/iphone-x-64gb-2-400x460-1.png';
    images[2]='../../image/iphone-x-64gb-2-400x460-2.png';
    images[3]='../../image/iphone-x-64gb-2-400x460-3.png';
 
  
    h1.onclick = () =>{
      document.slide.src=images[0];
    }
    h2.onclick = () =>{
      document.slide.src=images[1];
    }
    h3.onclick = () =>{
      document.slide.src=images[2];
    }
    h4.onclick = () =>{
      document.slide.src=images[3];
    }
  
    
  </script>
</body>

</html>