<!DOCTYPE html>
<html>

<head>
  <title>LENOVO THINKPAD X1 YOGA G3 20LDS00L00</title>
  <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/chitietsp.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container-fluid mt-4">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div id="body">
              <div id="img" class="slider">
                <img src="../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-6.png" width="200" height="140" name="slide">
              </div>
           
              <div id="h">
                <img src="../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-6.png" id="h1"width="100" height="70">
                <img src="../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-5.png" id="h2"width="100" height="70">
                <img src="../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-4.png" id="h3"width="100" height="70">
                <img src="../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-3.png" id="h4"width="100" height="70">
              </div>
          </div>
        </div>
        
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-header">
            <h5>LENOVO THINKPAD X1 YOGA G3 20LDS00L00</h5>
          </div>
            <table class="table">
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>Quantity</td>
                  <td>1</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Opening Price</td>
                  <td>20.000.000</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Opening Time　</td>
                  <td>7 Nov 2019 18:34:15</td>
                </tr>
                  <tr>
                  <th scope="row"></th>
                  <td>Closing Time</td>
                  <td>12 Nov 2019 23:29:27</td>
                </tr>
                </tr>
                  <tr>
                  <th scope="row"></th>
                  <td>Seller</td>
                  <td>Nguyen Van A</td>
                </tr>
              </tbody>
            </table>          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <p class="card-text">Current Price</p>
            <h5 class="card-title">25.000.000</h5>
            <table class="table">
              <thead class="thead">
                <tr>
                  
                  <td>Time Remaining</td>
                  <td>NumBer of Bids</td>
                  <td><a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    
                    <td>4 Day(s)</td>
                    <td>1</td>
                    <td>30</td>
                  </tr>
              </tbody>
            </table>            
            <a href="#" class="btn btn-success btn-block btn-outline-dark">Place Bid</a>
            <table class="table">
              <thead class="thead">
                <tr>
                  <td>Rating</td>
                </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>Total</td>
                    <td>Good </td>
                    <td>Bad</td>
                  </tr>
                  <tr>
                    <td>30</td>
                    <td>28</td>
                    <td>2</td>
                  </tr>
              </tbody>
            </table>        
          </div>
        </div>
      </div>
    </div>

    
   
    <div class="card border-warning mb-3 ">
  <div class="card-body">
    <div class="card-header">
      <h5><b>Item Explanation</b></h5>

    </div>
    <div class="card-text">
      <b><h7>Laptop tốt nhất tại CES 2018</h7></b>
      <p>Với cái nhìn mới, tuyệt đẹp, ThinkPad X1 siêu nhẹ kết hợp thiết kế thanh lịch, khả năng đáp ứng liền mạch và độ bền cao tạo ra năng suất tối ưu trong di động. Tùy chọn kết nối LTE-A toàn cầu, thời lượng pin tối đa 15 giờ và màn hình cảm ứng đa điểm — với công nghệ RapidCharge — giúp bạn luôn hoạt động bất cứ khi nào trên đường đi. Hơn nữa, trọng lượng siêu nhẹ.</p>

   
      <b><h7>Giấc mơ của IT chuyên nghiệp</h7></b>
      <p>ThinkPad X1 mới cung cấp các tính năng bảo mật mạnh mẽ, bao gồm ThinkShutter, webcam HD mặt trước và đầu đọc vân tay khớp với công nghệ chống giả mạo giúp bảo vệ dữ liệu của công ty trong khi xác thực và đăng nhập an toàn hơn. Ngoài ra, ThinkPad X1 có thể được kết nối với ThinkPad Pro Dock với USB-C. Việc lắp ghép đơn giản này giúp tiết kiệm thời gian quý báu cho những người thường xuyên làm việc ở xa bàn làm việc. Ngoài ra, thiết bị này có sẵn như Microsoft AutoPilot, được cung cấp cho doanh nghiệp.</p>

      <b><h7>Linh hoạt</h7></b>
      <p>Thiết kế bản lề kép linh hoạt và bền bỉ cho phép sử dụng ở nhiều chế độ khác nhau và đặc biệt là cơ chế bàn phím trồi lên sụt xuống khi chuyển chế độ sử dụng vẫn được trang bị trên ThinkPad X1 Yoga thế hệ 3. Bàn phím có hành trình dài, tích hợp trackpoint, bàn rê phủ kính lớn độ nhạy cao.</p>

      <b><h7>Thiết kế siêu đẹp</h7></b>
      <p>Thiết kế mới của X1 Yoga chắc chắn sẽ làm bạn mê hoặc. Vỏ màu đen, cảm ứng mềm mại, màn hình hiển thị 14” tuyệt đẹp. Đi cùng với công nghệ [HDR] của Dolby® Vision giúp tăng độ sáng, mở rộng độ tương phản, màu sắc chính xác đáng ngạc nhiên và chi tiết hơn. Với X1 Yoga bạn sẽ có được một màn hình siêu sáng trong một thiết kế nhỏ hẹp chỉ mỏng 17,05 mm .</p>

 
    </div>
  </div>
</div>

     <div class="card border-warning mb-3 ">
  <div class="card-body">
    <div class="card-header">
      <h5><b>Popularity Ranking for this Category</b></h5>


    </div>
<div class="card-group">
  <div class="card">
    <img src="../../image/techzones-acer-nitro-5-an515-54-7882.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/Acer-Nitro-5-AN515-54-58TJ" class="card-title">Acer Nitro 5 AN515-54-58TJ</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>
    </div>
    
  </div>
  <div class="card">
    <img src="../../image/techzones-hp-pavilion-gaming-15.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/HP-Pavilion-Gaming-15-dk0001tx" class="card-title">HP Pavilion Gaming 15-dk0001tx </a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
  
  </div>
  <div class="card">
    <img src="../../image/techzones-may-tinh-xach-tay-msi-gf63-2.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/MSI-GF63-Thin-9RCX-645VN" class="card-title">MSI GF63 Thin 9RCX-645VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/techzones-msi-gl65-9sd-3.png" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/MSI-GL65-9SDK-054VN" class="card-title">MSI GL65 9SDK-054VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
   <div class="card">
    <img src="../../image/techzones-msi-prestige-14-a10rb-11.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/MSI-Prestige-14-A10RB-028VN" class="card-title">MSI Prestige 14 A10RB-028VN</a>
      <p class="card-text">20.000.000 VND    <a href=".." class="btn btn-light "> <img src="../../image/icons8-star-50.png"></a></p>

    </div>
 
  </div>
</div>

    </div>
  </div>
  </div>
</div>
</div>
</div>

</div>



  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <script >
    const h1=document.getElementById('h1');
    const h2=document.getElementById('h2');
    const h3=document.getElementById('h3');
    const h4=document.getElementById('h4');
    var images =[];
    images[0]='../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-6.png';
    images[1]='../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-5.png';
    images[2]='../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-4.png';
    images[3]='../../image/techzones-lenovo-thinkpad-x1-yoga-gen-2-3.png';
 
  
    h1.onclick = () =>{
      document.slide.src=images[0];
    }
    h2.onclick = () =>{
      document.slide.src=images[1];
    }
    h3.onclick = () =>{
      document.slide.src=images[2];
    }
    h4.onclick = () =>{
      document.slide.src=images[3];
    }
  
    
  </script>
</body>

</html>